
@keyframes animated-backwards {
    from {
        visibility: hidden;
        background-color: blue;
        transform: translateX(400px);

    }

    to {
        visibility: visible;
        background-color: rgb(145, 255, 0);
        transform: translateX(0px);
    }
}

.animated-backwards{
    width: 100px;
    height: 100px;
    visibility: visible;
    background-color: blue;
    position: relative;

    animation-name: animated-backwards;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    
}